<!-- NAV -->
<nav id="main-navbar" class="navbar navbar-dark navbar-right navbar-expand-md py-0 fixed-top">
  <a href="#" class="navbar-brand">Trigo</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-links" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div id="nav-links" class="collapse navbar-collapse">
      <ul class="navbar-nav ">
          <li class="nav-item">
              <a href="#logo-tile" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
              <a href="#products-tile" class="nav-link">Products</a>
          </li>
          <li class="nav-item">
              <a href="#contact-tile" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
              <a href="#hours-tile" class="nav-link">Hours</a>
          </li>
      </ul>
  </div>
</nav>