body {
  background: url("imgs/black.png");
  font-family: Nunito, sans-serif;
  color: white;
}

#main-navbar {
  font-size: 1.5rem;
  font-weight: 100;
}
#main-navbar .nav-link {
  color: white;
}
#main-navbar .nav-link:hover {
  color: #aaa;
}

#main-navbar .navbar-brand {
  color: white;
  font-size: 1.5rem;
}

.navbar.scrolled {
  background-color: rgb(128, 108, 0);
  transition: background 600ms;
}

#logo {
  width: 80%;
}

#logo-alt {
  object-fit: ;
}

:target:before {
  content: "";
  display: block;
  height: 60px; /* fixed header height*/
  margin: -60px 0 0; /* negative fixed header height */
}

h2 {
  font-weight: 100;
  font-size: 50px;
  color: rgb(128, 108, 0);
}

.product-link-text {
  font-size: 2em;
  font-weight: 100;
}

.hours-text {
  font-size: 2em;
  font-weight: 100;
}

table {
  margin: 0 auto;
  width: 40%;
}

@media (max-width: 1200px) {
  h2 {
    font-weight: 100;
    font-size: 40px;
    color: rgb(128, 108, 0);
  }

  .product-link-text {
    font-size: 1em;
  }

  .hours-text {
    font-size: 1em;
  }
  table {
    margin: 0 auto;
    width: 80%;
  }
}

.map {
  position: relative;
  padding-bottom: 75%;
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
}
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.img-fluid {
  width: 100%;
  height: 100%;
}

.product-link {
  color: white;
  text-transform: uppercase;
}

.product-link:hover {
  text-decoration: none;
  color: rgb(128, 108, 0);
}
