<%- include("partials/header") %>
<link rel="stylesheet" href="../css/gallery.css" type="text/css" />
<title>Trigo Bakery - Breads</title>
    </head>
    <body>
        <%- include("partials/nav") %>
        <div id="main">
            <div id="header-section">
                <img src="assets/imgs/breads/breads-header.jpg" alt="Header image" id="header-img">
                <div id="header-content" class="text-center">
                    <img src="assets/imgs/logo.jpg" alt="Logo" id="logo">
                    <h1 id="header-heading">Breads</h1>
                </div>
            </div>
            <div id="products">
                <h2 id="product-header" >Our Breads</h2>
                <!-- <p id="product-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta dicta error reprehenderit sapiente magnam nobis animi. Dolorem nostrum veritatis recusandae?</p> -->
                <div id="product-container">
                    <div class="row">
                        <div class="col-12 col-md-4 tile">
                            <div class="tile-img-container">
                                <img src="assets/imgs/breads/broa-amarelo.jpg" class="tile-img"/>
                                <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                            </div>
                            <div class="tile-caption-container">
                                <h4 class="tile-caption">Broa Amarelo</h4>
                                <!-- <p class="d-md-none">Price: $0.35</p> -->
                            </div> 
                        </div>
                        <div class="col-12 col-md-4 tile">
                            <div class="tile-img-container">
                                <img src="assets/imgs/breads/broa-white.jpg" class="tile-img"/>
                                <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                            </div>
                            <div class="tile-caption-container">
                                <h4 class="tile-caption">Broa Branco</h4>
                                <!-- <p class="d-md-none">Price: $0.35</p> -->
                            </div> 
                        </div>
                        <div class="col-12 col-md-4 tile">
                            <div class="tile-img-container">
                                <img src="assets/imgs/breads/calabrese-bread.jpg" class="tile-img"/>
                                <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                            </div>
                            <div class="tile-caption-container">
                                <h4 class="tile-caption">Calabrese</h4>
                                <!-- <p class="d-md-none">Price: $0.35</p> -->
                            </div> 
                        </div>
                        <div class="col-12 col-md-4 tile">
                            <div class="tile-img-container">
                                <img src="assets/imgs/breads/farmers-bread.jpg.png" class="tile-img"/>
                                <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                            </div>
                            <div class="tile-caption-container">
                                <h4 class="tile-caption">Farmer's Bread</h4>
                                <!-- <p class="d-md-none">Price: $0.35</p> -->
                            </div> 
                        </div>
                        <div class="col-12 col-md-4 tile">
                            <div class="tile-img-container">
                                <img src="assets/imgs/breads/kaiser.jpg" class="tile-img"/>
                                <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                            </div>
                            <div class="tile-caption-container">
                                <h4 class="tile-caption">Kaiser</h4>
                                <!-- <p class="d-md-none">Price: $0.35</p> -->
                            </div> 
                        </div>
                        <div class="col-12 col-md-4 tile">
                            <div class="tile-img-container">
                                <img src="assets/imgs/breads/nine-grain.jpg" class="tile-img"/>
                                <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                            </div>
                            <div class="tile-caption-container">
                                <h4 class="tile-caption">9-Grain Bun</h4>
                                <!-- <p class="d-md-none">Price: $0.35</p> -->
                            </div> 
                        </div>
                        <div class="col-12 col-md-4 tile">
                            <div class="tile-img-container">
                                <img src="assets/imgs/breads/nine-grain-loaf.jpg" class="tile-img"/>
                                <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                            </div>
                            <div class="tile-caption-container">
                                <h4 class="tile-caption">9-Grain Loaf</h4>
                                <!-- <p class="d-md-none">Price: $0.35</p> -->
                            </div> 
                        </div>
                        <div class="col-12 col-md-4 tile">
                            <div class="tile-img-container">
                                <img src="assets/imgs/breads/pada.jpg" class="tile-img"/>
                                <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                            </div>
                            <div class="tile-caption-container">
                                <h4 class="tile-caption">Pada</h4>
                                <!-- <p class="d-md-none">Price: $0.35</p> -->
                            </div> 
                        </div>
                        <div class="col-12 col-md-4 tile">
                            <div class="tile-img-container">
                                <img src="assets/imgs/breads/pao-davo.jpg" class="tile-img"/>
                                <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                            </div>
                            <div class="tile-caption-container">
                                <h4 class="tile-caption">Pao d'avo</h4>
                                <!-- <p class="d-md-none">Price: $0.35</p> -->
                            </div> 
                        </div>
                        <div class="col-12 col-md-4 tile">
                            <div class="tile-img-container">
                                <img src="assets/imgs/breads/papo-seco.jpg" class="tile-img"/>
                                <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                            </div>
                            <div class="tile-caption-container">
                                <h4 class="tile-caption">Papo Seco</h4>
                                <!-- <p class="d-md-none">Price: $0.35</p> -->
                            </div> 
                        </div>
                        <div class="col-12 col-md-4 tile">
                            <div class="tile-img-container">
                                <img src="assets/imgs/breads/ring.jpg" class="tile-img"/>
                                <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                            </div>
                            <div class="tile-caption-container">
                                <h4 class="tile-caption">Ring</h4>
                                <!-- <p class="d-md-none">Price: $0.35</p> -->
                            </div> 
                        </div>
                    </div> 
                </div>
                <div class="footer">
                    <a href="#main" class="footer-heading">Back to top</a>
                </div>
            </div>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <script>
            $(function() {
                $(document).scroll(function() {
                    var $nav = $("#main-navbar");
                    $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
                    var $navLinks = $(".nav-link");
                    $navLinks.toggleClass("black-link", $(this).scrollTop() > $nav.height());
                });
            });
            // $(function() {
            //     $(".tile").hover(function() {
            //         $(this).children().find("img").toggleClass("price-display");
            //         $(this).children().find(".price").toggleClass("d-none");
            //     });
            // })
        </script>
        <%- include("partials/footer") %>