<%- include("partials/header") %>
<title>Trigo Bakery - Cakes</title>
<link rel="stylesheet" href="../css/gallery.css" type="text/css" />
    </head>
    <body>
<%- include("partials/nav") %>
<div id="main">
    <div id="header-section">
        <img src="assets/imgs/cakes/cakes-header.jpg" alt="Header image" id="header-img">
        <div id="header-content" class="text-center">
            <img src="assets/imgs/logo.jpg" alt="Logo" id="logo">
            <h1 id="header-heading">Cakes</h1>
        </div>
    </div>
    <div id="products">
        <h2 id="product-header" >Our Cakes</h2>
        <!-- <p id="product-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta dicta error reprehenderit sapiente magnam nobis animi. Dolorem nostrum veritatis recusandae?</p> -->
        <div id="product-container">
            <div class="row">
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/circus-cake.png" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/communion-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/flamingo-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/kit-kat-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/light-pink-flower-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/lion-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/minion-cake.png" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/ocean-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/one-year-old-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/paw-patrol-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/pink-blue-flower-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/pink-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/pink-cross-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/pink-flower-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/pirate-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/pregnant-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/pumpkin-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/spiderman-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/spiderman-cake-2.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/straw-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/teddy-bear-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/thomas-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/toy-story.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/uni-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/unicorn-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/unicorn.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/wedding-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/white-cake.jpg" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
                <div class="col-12 col-md-4 tile">
                    <div class="tile-img-container">
                        <img src="assets/imgs/cakes/white-flower-cake.png" class="tile-img"/>
                        <!-- <h5 class="price d-none">Price: $0.35</h5> -->
                    </div>
                    <div class="tile-caption-container">
                        <h4 class="tile-caption"></h4>
                    </div> 
                </div>
            </div> 
        </div>
        <div class="footer">
            <a href="#main" class="footer-heading">Back to top</a>
        </div>
    </div>
</div>
<script
src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"
></script>
<script>
$(function() {
    $(document).scroll(function() {
        var $nav = $("#main-navbar");
        $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
        var $navLinks = $(".nav-link");
        $navLinks.toggleClass("black-link", $(this).scrollTop() > $nav.height());
    });
});
// $(function() {
//     $(".tile").hover(function() {
//         $(this).children().find("img").toggleClass("price-display");
//         $(this).children().find(".price").toggleClass("d-none");
//     });
// })
</script>
<%- include("partials/footer") %>