<%- include("partials/header") %>
<title>Trigo Bakery - Error</title>
<style>
    body {
        background: url("assets/imgs/black.png");
    }
    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 400px;
        border: 2px red solid;
    }
    h1 {
        color: white;
    }

    a {
        text-decoration: none;
        color: rgb(213,175,85);
        font-size: 1.4em;
    }

    a:hover {
        text-decoration: none;
        color: rgb(213,175,85);
        
    }
</style>
    </head>
    <body>
        <div class="main">
            <h1>Sorry! This part of the website is still under development</h1>
<a href="/">Back to Home</a>
        </div>
