.debug-red {
    border: red solid 2px;
}

.debug-blue {
    border: blue solid 2px;
}

body {
    background: url("../black.png");
    font-weight: 100;
    font-size: 20px;
    color: white;
    padding: 0;
    margin:0;
    font-family: Nunito, Helvetica, sans-serif;
    
}

h2 {
    font-size: 28px;
}

#main {
    display: flex;
    flex-direction: column;
}

a {
    text-transform: uppercase;
    color: rgb(19, 14, 14);
}


a:hover {
    text-decoration: none;
    color: rgb(213,175,85);
    transition: color 700ms;
}

.black-link {
    color: black !important;
}


/* Nav CSS */
#main-navbar {
    font-size: 1.5rem;
    font-weight: 100;
}
#main-navbar .nav-link {
    color: white;
}
#main-navbar .nav-link:hover {
    color: #aaa;
}

#main-navbar .navbar-brand {
    color: white;
    font-size: 1.5rem;
}

.navbar.scrolled {
    background-color: rgb(213,175,85);
    transition: background 600ms;
}
.navbar-toggler-icon {
    color: black;
}  

#header-img {
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    opacity: 75%;
}

#header-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

#header-content {
    position: absolute;
    z-index: 2;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#logo {
    width: 200px;
    opacity: 85%;
    margin: 0 auto;
}


#header-heading {
    font-size: 35px;
    text-shadow: 2px 2px 8px black;
}

#products {
    width: 50%;
    align-self: center;
    margin-top: 75px;
}

#product-container {
    display: flex;
}

#product-header {
    text-align: center;
    margin: 10px;   
}

#product-description {
    text-align: center;
    margin-bottom: 50px;
}

.tile {
    height: 250px;
    display: flex;
    align-content: stretch;
    flex-direction: column;
    margin: 10px 0;
}

.price {
    position: absolute;
    z-index: 2;
    color: rgb(213,175,85);
}

.price-display {
    opacity: 30%;
    border: rgb(213,175,85) 1px solid;
    border-radius: 10px;
    animation: opacity 500ms ease-in;
}


.tile-img {
    height: 80%;
    width: 80%;
    object-fit: contain;
    z-index: 2;
}

.display {
    display: inline-block;
}

.tile-img-container {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile-caption {
    height: 40px;
    width: 100%;
    text-align: center;
}

.tile-caption-container {
    display: flex;
    align-content: center;
    height: 40px;
}

.footer {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-heading {
    color: white;
}


@media (min-width: 768px){
    #logo {
        width: 500px;
        margin: 0 auto;
        opacity: 85%;
    }
    #header-heading {
        font-size: 50px;
        text-shadow: 2px 2px 8px black;
    }
}